[Unit]
Description=Boundary Worker
Documentation=https://www.boundaryproject.io/docs

[Service]
ExecStart=/usr/local/bin/boundary-worker server -config /etc/boundary.d/pki-worker.hcl
User=root
LimitMEMLOCK=infinity
Capabilities=CAP_IPC_LOCK+ep
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK

[Install]
WantedBy=multi-user.target